<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">

    <title>Registration</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-reset.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

  <body class="login-body">

    <div class="container">

      <form class="form-signin" method="POST" action="{% url 'register' %}">
        <h2 class="form-signin-heading">registration now</h2>
        <div class="login-wrap">
            <p>Enter your personal details below</p>
            {% csrf_token %}
            <input type="text" name="name" class="form-control" placeholder="Full Name" autofocus>
            <input type="text" name="address" class="form-control" placeholder="Address" autofocus>
            <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
            <input type="text" name="mobile" class="form-control" placeholder="Mobile" autofocus>
{#            <input type="number" name="heightft" class="form-control-static" placeholder="height in feet">#}
{#            <input type="number" name="heightinch" class="form-control-static" placeholder="height in inch">#}
            <input type="date" name="birthdate" autofocus>
            <div class="radios">

                <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                Gender:    <input name="gender" id="radio-01" value="male" type="radio" checked /> Male
                </label>
                <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                    <input name="gender" id="radio-02" value="female" type="radio" /> Female
                </label>
            </div>

{#            <select class="form-control-static">#}
{#                <option disabled selected hidden>Select Activity Level</option>#}
{#                <option value="1">Very Light</option>#}
{#                <option value="2">Light</option>#}
{#                <option value="3">Moderate</option>#}
{#                <option value="4">Heavy</option>#}
{#                <option value="5">Very Heavy</option>#}
{#            </select><hr>#}

            <p> Enter your account details below</p>
            <input type="text" name="username" class="form-control" placeholder="User Name" autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password">
            <input type="password" class="form-control" placeholder="Re-type Password">
{#            <label class="checkbox">#}
{#                <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy#}
{#            </label>#}
            <button class="btn btn-lg btn-login btn-block" type="submit">Submit</button>

            <div class="registration">
                Already Registered.
                <a class="" href="login.html">
                    Login
                </a>
            </div>

        </div>

      </form>

    </div>


  </body>
</html>
